<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>


  <body>

  <!-- <div class="navbar">
  <a href="/" class="navbar">Home</a>
  <a href="/about" class="navbar">About</a>
  <a href="/qualifications" class="navbar">Qualifications</a>
  <a href="/portfolio" class="navbar">Portfolio</a>
  <a href="/blog" class="navbar">Blog</a>
  </div> -->

    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/qualifications">Qualifications</a></li>
<li><a href="/research">Research</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:matt@matthewleighton.com">matt@matthewleighton.com</a></li>
   </ul>
  </footer>
  </body>

</html>
